<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>StockList</servlet-name>
        <servlet-class>StockList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StockList</servlet-name>
        <url-pattern>/StockList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StockEdit</servlet-name>
        <servlet-class>StockEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StockEdit</servlet-name>
        <url-pattern>/StockEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MovimientoNuevo</servlet-name>
        <servlet-class>MovimientoNuevo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovimientoNuevo</servlet-name>
        <url-pattern>/MovimientoNuevo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InventarioFisicoNuevo</servlet-name>
        <servlet-class>InventarioFisicoNuevo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventarioFisicoNuevo</servlet-name>
        <url-pattern>/InventarioFisicoNuevo</url-pattern>
    </servlet-mapping>

</web-app>
